stages:
  - environment
  - code_quality
  - test
  - deploy

environment:
  stage: environment
  script:
    - echo "Setting up environment..."
  except:
    - main
    
code_quality:
  stage: code_quality
  script:
    - echo "Running code quality checks..."
    - if ! command -v pip3 > /dev/null; then apt-get update && apt-get install python3-pip -y; fi
    - pip3 install flake8 --break-system-packages
    - flake8 . --exclude=venv,env,__pycache__ || true
  except:
    - main
  allow_failure: true

test:
  stage: test
  tags:
      - shell
  script:
    - pytest tests/ --disable-warnings --maxfail=1
  only:
    - main
  when: on_success

deploy:
  stage: deploy
  tags:
      - shell
  script:
    - echo "Deploying to Render (or other host)..."
  only:
    - main
  when: manual