stages:
  - test
  - deploy

test:
  stage: test
  tags:
      - shell
  before_script:
    - pip install -r requirements.txt
  script:
    - pytest tests/ --disable-warnings --maxfail=1

deploy:
  stage: deploy
  tags:
      - shell
  script:
    - echo "Deploying to Render (or other host)..."
  only:
    - main
  when: on_success